<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

<filter>
  <filter-name>DwrFacesFilter</filter-name>
  <filter-class>org.directwebremoting.faces.FacesExtensionFilter</filter-class>
</filter>

<filter-mapping>
  <filter-name>DwrFacesFilter</filter-name>
  <url-pattern>/dwr/*</url-pattern>
</filter-mapping>

  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>com.idega.dwr.servlet.DWRExtendedServlet</servlet-class>

	<init-param>
		<param-name>pollAndCometEnabled</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
    	<param-name>allowGetForSafariButMakeForgeryEasier</param-name>
    	<param-value>true</param-value>
  	</init-param>
  	<init-param>
    	<param-name>activeReverseAjaxEnabled</param-name>
    	<param-value>true</param-value>
  	</init-param>
    <init-param>
      <param-name>skipDefaultConfig</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
    	<param-name>logLevel</param-name>
    	<param-value>ERROR</param-value>
    </init-param>
    <init-param>
      <param-name>scriptCompressed</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
    	<param-name>crossDomainSessionSecurity</param-name>
    	<param-value>false</param-value>
    </init-param>
    <init-param>
		<param-name>allowScriptTagRemoting</param-name>
		<param-value>true</param-value>
	</init-param>
    
    <!-- Early Closing Mode -->
    <init-param>
    	<param-name>maxWaitAfterWrite</param-name>
		<param-value>1000</param-value>
	</init-param>
	
	<!-- Polling Mode -->
	<init-param>
 		<param-name>org.directwebremoting.extend.ServerLoadMonitor</param-name>
		<param-value>org.directwebremoting.impl.PollingServerLoadMonitor</param-value>
	</init-param>
	<init-param>
		<param-name>disconnectedTime</param-name>
		<param-value>60000</param-value> <!-- 60 seconds will be enough to allow a web server to handle a very large number of clients -->
	</init-param>
    
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

</web-app>