<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

<!--
  <display-name>DWR (Direct Web Remoting)</display-name>
  <description>A demo of how to call Java on the server directly from Javascript on the client,http://getahead.ltd.uk/dwr/ </description>
-->

<filter>
  <filter-name>DwrFacesFilter</filter-name>
  <filter-class>org.directwebremoting.faces.FacesExtensionFilter</filter-class>
</filter>

<filter-mapping>
  <filter-name>DwrFacesFilter</filter-name>
  <url-pattern>/dwr/*</url-pattern>
</filter-mapping>

  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>com.idega.dwr.servlet.DWRExtendedServlet</servlet-class>

	<init-param>
		<param-name>pollAndCometEnabled</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
    	<param-name>allowGetForSafariButMakeForgeryEasier</param-name>
    	<param-value>true</param-value>
  	</init-param>
  	<init-param>
    	<param-name>activeReverseAjaxEnabled</param-name>
    	<param-value>true</param-value>
  	</init-param>
    <init-param>
      <param-name>skipDefaultConfig</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>scriptCompressed</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
    	<param-name>crossDomainSessionSecurity</param-name>
    	<param-value>false</param-value>
    </init-param>
    
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

</web-app>